@import "bootstrap.less";

/* =Typography
-----------------------------------------------------------------------------*/


/* =Layout
-----------------------------------------------------------------------------*/

#header, #collections {
  margin-top: 0.5*@grid-gutter-width;
  padding: 0.5*@grid-gutter-width; 
  margin-bottom: 0.5*@grid-gutter-width;
  
  background-size: cover;
  background-repeat:no-repeat;
  background-position: center;
  transition: background-image 1s ease-in-out;
  border-radius: 6px;
}

.jumbotron {
  border:solid 1px #000;
  background: white;
  hr {
    border-top: 1px solid #000;
    border-top-color: #000;
  }
}

.btn {
  border-color:black;
  &:hover {
    background-color: #000;
    color: #fff;
  }
  margin-bottom: 0.2*@grid-gutter-width;

  text-transform: lowercase;
}

a {
  .btn;
  .btn-default;
    border-color:black;
    &:hover {
    background-color: #000;
    color: #fff;
      border-color:black;
  }
}
img {
  .img-responsive;
}
/* =Development
-----------------------------------------------------------------------------*/

#dev {
  visibility: hidden;
  position: fixed; bottom:@grid-gutter-width; width: 100%;

  #size { font-size: 10px; }

  @media (max-width: @screen-xs-max)                                 { #size:after { content:"Phones"; } }
  @media (min-width: @screen-sm-min) and (max-width: @screen-sm-max) { #size:after { content:"Tablets"; } }
  @media (min-width: @screen-md-min) and (max-width: @screen-md-max) { #size:after { content:"Desktops"; } }
  @media (min-width: @screen-lg-min)                                 { #size:after { content:"Large Desktops"; } }
  @media (orientation: landscape)                                    { #size:before { content:"Landscape, "; } }
  @media (orientation: portrait)                                     { #size:before { content:"Portrait, ";  } }

  .row           { text-align: center; font-size: 10px; margin-bottom:0 !important; }
  .row > div     { background-color: rgba(0, 255, 255, 0.3); box-shadow: 0 0 0 1px #0FF; }
  .row > div > * { background-color: rgba(255, 255, 255, 0.7); overflow: hidden; min-height: 13px; }
}
